<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>实名已完成</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title></title>
    <script type="text/javascript" src="__FIR__/index/js/jquery-3.3.1.js"></script>
    <link rel="shortcut icon" href="__INDEX__/images/favicon.ico"/>
    <link rel="stylesheet" href="__INDEX__/css/mui.min.css">
</head>

<body style="background: #efeff4;">

<div class="content" style="background: #FFFFFF;">
    <div class="for-liucheng">
        <div class="liulist for-cur"></div>
        <div class="liulist for-cur"></div>
        <div class="liulist for-cur"></div>
        <div class="liulist for-cur"></div>
        <div class="liutextbox" style="padding: 15px;">
            <img src="__INDEX__/images/r4@2x.png" width="100%"/>
        </div>
    </div><!--for-liucheng/-->
    <div class="ht1"></div>
    <br/>
    <div class="successs">
        <div style="text-align: center;"><img src="__INDEX__/images/sucss.png" width="60px" height="60px"/></div>
        <br/>
        <p style="text-align: center;color: #999999;font-size: 14px;">已收到您的实名认证申请</p>
        <p style="text-align: center;color: #999999;font-size: 14px;">工作人员将在2个工作日内完成审核，请耐心等待</p>
        <br/>
        <div class="subtijiao" id="wsf-btn">
            <button style="margin-bottom: 130px" onclick="window.location.href = '{:url('/iMyself')}'" class="mui-btn mui-btn-danger mui-btn-block">完成</button>
        </div>
    </div>
</div><!--web-width/-->
</div><!--content/-->


<link rel="stylesheet" href="__INDEX__/css/footer.css">
<br><br><br>
{include file="common/foot"}
</body>
</html>
