<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>用户协议</title>
    <style>.pad14 {
        padding: 14px;
        color: #999999;
    }
    .mui-table-view-cell {
        border-bottom: 1px solid #f3f3f3;
    }

    </style>
</head>
<link href="__INDEX__/css/mui.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="__INDEX__/css/app.css"/>
<body>
<div class="mui-content" >
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">1.艺拍馆是一个什么平台？</li>
        <p  class="pad14"><span style="color: #CD141D;">答:&nbsp;&nbsp;</span>艺拍馆不是交易公司，不做线下交易会，而是一个提供在线社交交易服务的网络科技平台，比如在线竞买商品，在线发布商品，担保交易，粉丝推广、匹配服务等等。</p >
    </ul>
</div>
<div class="mui-content" style="padding-top: 0px;">
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">2.艺拍馆能提供艺术品鉴定、估价服务吗？</li>
        <p  class="pad14"><span style="color: #CD141D;">答:&nbsp;&nbsp;</span> 艺拍馆是一个在线交易服务平台，无法提供艺术品鉴定、估价服务。建议买家在竞买前，请认真、仔细甄别，也建议卖家为所发布商品提供必要的诚信保障和合理的价格区间（可以网上查询参考价格）。</p >
    </ul>
</div>

<link rel="stylesheet" href="__INDEX__/css/footer.css">
{include file="common/foot"}
</body>
</html>