{extend name="common/inside"}

{block name="table"}
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
        <a href="javascript:;" onclick="member_add('添加角色','{:url('/role/create')}','','600')" class="btn btn-primary radius"><i
                class="Hui-iconfont">&#xe600;</i> 添加角色</a></span>
        <span class="r">共有数据：<strong>88</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th>序号</th>
                <th>角色名称</th>
                <th>权限ids</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $roles as $role}
            <tr class="text-c">
                <td>{$role->role_id}</td>
                <td>{$role->role_name}</td>
                <td>{$role->role_ps_ids}</td>
                <td class="td-manage">

                    {if $role->role_name == 'root'}
                        <font color="red">Root级别</font>
                        <a title="编辑" href="javascript:;" onclick="member_edit('用户编辑','{:str_replace('id',$role->role_id,url('/role/id/edit'))}','4','','600')"
                           class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    {else /}
                    <a title="编辑" href="javascript:;" onclick="member_edit('用户编辑','{:str_replace('id',$role->role_id,url('/role/id/edit'))}','4','','600')"
                       class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" onclick="member_del(this,{$role->role_id})" class="ml-5"
                       style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    {/if}

                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>

{/block}


{block name='js'}
<script>

    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){

            var url = "{:url('/role/id')}"
            console.log(url)
            url = url.replace('id',id)

            console.log(url)
            $.ajax({
                type: 'DELETE',
                url: url,
                dataType: 'json',
                success: function(data){
                    console.log(data)
                    if (data.state == 'success'){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    } else {
                        layer.msg('删除失败!',{icon:2,time:1000});
                    }

                },
                error:function(data) {
                    console.log(data)

                    // console.log(data.msg);
                },
            });
        });
    }

</script>

{/block}




