{extend name="common/add"}
{block name="form"}
<article class="page-container">
    <form action="{:url('/broad')}" method="post" enctype="multipart/form-data" class="form form-horizontal" id="form-member-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">轮播图图片：</label>
            <div class="preview">
                <div class="preview-box">
                    <div class="preview-del">删除</div>
                    <input id="file1" type="file" name="img" accept="image/*"/>
                    <label for="file1">上传文件</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
{/block}


{block name="js"}{/block}