<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新闻详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="__INDEX__/css/mui.min.css">
    <style>
        .pad14{
            padding: 14px;
            color: #999999;
        }
        .mui-table-view-cell {
            border-bottom: 1px solid #f3f3f3;
        }
    </style>
</head>
<body>
<div class="content" style="background: #FFFFFF;">
    <div style="padding: 15px;">
        {$new->news_title}
    </div>
</div>
<div class="ht1"></div>
<div style="padding: 15px;background: #FFFFFF;color: #999999;">
    {$new->news_content}
</div>
</div></div>

<link rel="stylesheet" href="__INDEX__/css/footer.css">

{include file="common/foot"}
</body>
</html>