{extend name="common/inside"}


{block name="table"}
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"></span>
        <span class="r">共有数据：<strong>88</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th>序号</th>
                <th>投诉信息</th>
                <th>投诉电话</th>
                <th>投诉人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $feedbacks as $feedback}
            <tr class="text-c">
                <td>{$feedback->feedback_id}</td>
                <td>{:mb_substr($feedback->feedback_content,0,9)}...</td>
                <td>{$feedback->feedback_phone}</td>
                <td>
                    {if empty($feedback->user->user_name)}
                        <font color="#ffa07a">此账号已被销毁</font>
                    {else /}
                        {$feedback->user->user_name}
                    {/if}
                </td>
                <td class="td-manage">
                    <a title="查看投诉信息" href="javascript:;" onclick="member_edit('查看投诉信息','{:str_replace('id',$feedback->feedback_id,url('/feedback/id'))}','4','','800')"
                       class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" onclick="member_del(this,{$feedback->feedback_id})" class="ml-5"
                       style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>

{/block}


{block name='js'}
<script>

    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){

            var url = "{:url('/feedback/id')}"
            console.log(url)
            url = url.replace('id',id)

            console.log(url)
            $.ajax({
                type: 'DELETE',
                url: url,
                dataType: 'json',
                success: function(data){
                    console.log(data)
                    if (data.state == 'success'){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    } else {
                        layer.msg('删除失败!',{icon:2,time:1000});
                    }

                },
                error:function(data) {
                    console.log(data)

                    // console.log(data.msg);
                },
            });
        });
    }

</script>

{/block}




