<style>
    #wd20 {
        padding: 0px 4px;
        width: 20%;
    }
</style>
<div class="mui-card" style="margin:auto;bottom: 0px;position: fixed; width: 100%;">
    <ul class="mui-table-view mui-grid-view mui-grid-9">
        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-4" id="wd20" onclick="window.location.href='{:url('/')}'">
            <a href="#">
                <span  ><img src="__INDEX__/images/sy@2x.png" width="20px" height="20px"/></span>
                <div class="mui-media-body" style="margin-top:0px;">首页</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-4" id="wd20" onclick="window.location.href='{:url('/iTypes')}'">
            <a href="#"   >
                <span  ><img src="__INDEX__/images/fl@2x.png" width="20px" height="20px"/></span>
                <div class="mui-media-body" style="margin-top:0px;">分类</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-4" id="wd20" onclick="window.location.href='{:url('/iGoods')}'">
            <a href="#"    style="height: 50px;">
                <span><img src="__INDEX__/images/fb.png" width="50px" height="36px"/></span>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-4" id="wd20" onclick="window.location.href='{:url('/iMessage')}'">
            <a href="#">
                <span><img src="__INDEX__/images/xx@2x.png" width="20px" height="20px"/></span>
                <div class="mui-media-body" style="margin-top:0px;">消息</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-4" id="wd20"  onclick="window.location.href='{:url('/iMyself')}'">
            <a href="#">
                <span  ><img src="__INDEX__/images/wd@2x.png" width="20px" height="20px"/></span>
                <div class="mui-media-body" style="margin-top:0px;">我的</div>
            </a>
        </li>
    </ul>
</div>

<link rel="stylesheet" href="https://cdn.bootcss.com/layer/2.1/skin/layer.css">
<script src="https://cdn.bootcss.com/layer/2.1/layer.js"></script>

<script>


</script>