{extend name="common/inside"}


{block name="table"}
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"></span>
        <span class="r">共有数据：<strong>88</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th>序号</th>
                <th>参与信息</th>
                <th>创建于</th>
                <th>参与用户</th>
                <th>原卖家</th>
                <th>用户电话</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $joins as $join}
            <tr class="text-c">
                <td>{$join->join_id}</td>
                <td>{$join->join_content}</td>
                <td>{$join->created_at}</td>
                <td>
                    {if empty($join->buyer->user_name)}
                        <font color="#ffa07a">此账号已被删除</font>
                    {else /}
                        {$join->buyer->user_name}
                    {/if}
                </td>
                <td>
                    {if empty($join->seller->user_name)}
                        <font color="#ffa07a">此账号已被删除</font>
                    {else /}
                        {$join->seller->user_name}
                    {/if}
                </td>
                <td>
                    {if empty($join->buyer->user_tel)}
                        <font color="#ffa07a">暂无电话信息</font>
                    {else /}
                        {$join->buyer->user_tel}
                    {/if}
                </td>

                <td class="td-manage">
                    <a title="删除" href="javascript:;" onclick="member_del(this,{$join->join_id})" class="ml-5"
                       style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>

{/block}


{block name='js'}
<script>

    function member_del(obj,id){
        layer.confirm('是否不在显示该信息？',function(index){

            var url = "{:url('/join/id')}"
            console.log(url)
            url = url.replace('id',id)

            console.log(url)
            $.ajax({
                type: 'DELETE',
                url: url,
                dataType: 'json',
                success: function(data){
                    console.log(data)
                    if (data.state == 'success'){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    } else {
                        layer.msg('删除失败!',{icon:2,time:1000});
                    }

                },
                error:function(data) {
                    console.log(data)

                    // console.log(data.msg);
                },
            });
        });
    }

</script>

{/block}




