<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>粉丝</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="__INDEX__/css/mui.min.css">
    <link rel="stylesheet" href="__INDEX__/css/footer.css">
</head>
<body>
<style>
    .mui-control-content { background-color: white; min-height: 300px; }  .mui-control-content .mui-loading { margin-top: 50px; }  #line26 { padding-top: 15px; }  .time2-wsf { background: #cac6c6; border-radius: 2px; padding: 2px; }  #sp-img-wsf { max-width: 40px; min-height: 40px; border-radius: 100%; } #sliderSegmentedControl{ background: #ffffff; } .mui-control-content { background-color: white; min-height:535px; }  .mui-control-content .mui-loading { margin-top: 50px; } .center{margin-top: 12px} #price_list{text-align: left; position: relative; left: 30px;} .price_see{    float: right; margin-top: -21px; background-color: #C39772; color: #fff; padding: 1px 5px; border-radius: 5px;}
</style>
<div class="mui-content">
        <ul class="mui-table-view">
            {foreach $fans as $fan}
            <li class="mui-table-view-cell mui-media">
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left" id="sp-img-wsf" src="{$fan->follow->user_face_img}">
                    <div class="mui-media-body">
                        <p class="center">{$fan->follow->user_name}</p>
                        <!--<span class="price_see" onclick="window.location.href='{:url('/iStore',['id' => $fan->follow->user_id])}'">查看</span>-->
                    </div>
                </a>
            </li>
            <div class="ht2"></div>
            {/foreach}

            {foreach $uFans as $uFan}
            <li class="mui-table-view-cell mui-media">
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left" id="sp-img-wsf" src="__UPL__/{$uFan->unUser->unuser_face_img}">
                    <div class="mui-media-body">
                        <p class="center">{$uFan->unUser->unuser_name}</p>
                    </div>
                </a>
            </li>
            <div class="ht2"></div>
            {/foreach}

        </ul>
</div>
{include file="common/foot"}

</body>

</html>