<html>
<head>
    <meta charset="utf-8">
    <title>商品管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="__INDEX__/css/mui.min.css">
    <link rel="stylesheet" href="__INDEX__/css/app.css">
    <title></title>
    <style type="text/css">
        .fth {
            color: #8f8f94;
        }
        #wd50{
            padding: 0px 4px;
            width: 50%;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    </style>
</head>
<body>
<div class="mui-card" style="margin:auto">
    <ul class="mui-table-view mui-grid-view mui-grid-9">
        <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4" id="wd50" onclick="window.location.href = '{:url('/manage',['id' => 1])}'"
            style="    border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD;">
            <a href="#">
                <span id="top5"><img src="__INDEX__/images/yzs@2x.png" width="35px" height="35px"/></span>
                <div class="mui-media-body" id="color30">已在售藏品</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4" id="wd50" onclick="window.location.href = '{:url('/manage',['id' => 2])}'"
            style="    border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD;">
            <a href="#">
                <span id="top5"><img src="__INDEX__/images/ycs@2x.png" width="35px" height="35px"/></span>
                <div class="mui-media-body" id="color30">已出售藏品</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4" id="wd50" onclick="window.location.href = '{:url('/manage',['id' => 3])}'"
            style="    border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD;">
            <a href="#">
                <span id="top5"><img src="__INDEX__/images/yxj@2x.png" width="35px" height="35px"/></span>
                <div class="mui-media-body" id="color30">已下架藏品</div>
            </a>
        </li>
    </ul>
</div>

<link rel="stylesheet" href="__INDEX__/css/footer.css">
<div class="mui-card" style="margin:auto;bottom: 0px;position: fixed; width: 100%;">
    <ul class="mui-table-view mui-grid-view mui-grid-9">
        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-4" id="wd20" onclick="window.location.href='{:url('/')}'">
            <a href="#">
                <span  ><img src="__INDEX__/images/sy@2x.png" width="20px" height="20px"/></span>
                <div class="mui-media-body" style="margin-top:6px;">首页</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-4" id="wd20" onclick="window.location.href='{:url('/iTypes')}'">
            <a href="#"   >
                <span  ><img src="__INDEX__/images/fl@2x.png" width="20px" height="20px"/></span>
                <div class="mui-media-body" style="margin-top:6px;">分类</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-4" id="wd20" onclick="window.location.href='{:url('/iGoods')}'">
            <a href="#"    style="height: 50px;">
                <span><img src="__INDEX__/images/fb.png" width="50px" height="36px"/></span>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-4" id="wd20" onclick="window.location.href='{:url('/iMessage')}'">
            <a href="#">
                <span><img src="__INDEX__/images/xx@2x.png" width="20px" height="20px"/></span>
                <div class="mui-media-body" style="margin-top:6px;">消息</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-4" id="wd20"  onclick="window.location.href='{:url('/iMyself')}'">
            <a href="#">
                <span  ><img src="__INDEX__/images/wd@2x.png" width="20px" height="20px"/></span>
                <div class="mui-media-body" style="margin-top:6px;">我的</div>
            </a>
        </li>
    </ul>
</div>
</body>
</html>
